*{
            margin: 0;
        }
        /* phần trên */
        .filter{
            background-color: #b9b6b3;
            padding: 20px;
            position: sticky;
            box-sizing: border-box;
        }
        .filter-content{
            display: flex;
            align-items: center;
        }
        .filter-content .filter-content-text{
            flex: 1;
            font-size: 20px;
            padding-left: 30px;
        }
        .filter-toggle-sort{
            flex: 0.5;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            flex-direction: row;
        }
        .toggle{
            text-align: right;
            flex: 1;
            width: 100%;
        }
        .toggle p{
            margin-bottom: 0;
        }
        #toggle-text{
            cursor: pointer;

        }
        .sort{
            text-align: right;
            flex: 2;
            flex-direction: row;
        }
        .sort select{
            width: 100px;
            height: 30px;
        }
        /* Bộ lọc */
        .divbody{
            display: flex;
        }
        #filter-box{
            display: none;
            background-color: #d8d6d4;
            width: 70%;
            padding: 0 2%;
        }
        .filter-box-content-text{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            padding: 10px 0;
        }
        .filter-box-title {
            font-size: 16px;
            padding-top: 10px;
            line-height: 24px;
            color: #4d4944;
            cursor: pointer;
        }
        #color-checkbox,
        #size-checkbox,
        #gender-checkbox,
        #price-checkbox{
            color: #4d4944;
            display: none;
        }
        #color-checkbox span,
        #size-checkbox span,
        #gender-checkbox span,
        #price-checkbox span{
            padding-left: 10px;
        }
        /* phần giữa */
        .divMenu {
            display: flex;
            justify-content: stretch;
            margin-top: 30px;
            flex-wrap: wrap;
        }
        .divMenu .divItem {
            width: 21%;
            margin: 2%;
            display: block;
            text-decoration: none;
            color: #000;
            position: relative;
        }
        .divMenu .divItem .itemTitle {
            font-weight: 500;
            text-align: center;
            display: block;
            transition: 0.4s;
        }
        .divMenu .divItem:hover .itemTitle{
            text-decoration: underline;
            color: #605e5c;
        }
        .divMenu .divItem img {
            width: 100%;
            margin-bottom: 5px;
            transition: 0.4s;
        }
        .divMenu .divItem span {
            color: #ff0000;
            display: block;
            text-align: center;
            margin-top: 5px;
        }

        #triangle-down {
            background-color: #FFC107;
            color: white;
            width: 40px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 20px;
            margin: 0 auto;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            padding-top: 5px;
        }
        #triangle-down::after {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 12px solid #FFC107;
            content: "";
            position: absolute;
            left: 0;
            bottom: -12px;
        }
        .filter-icon{
            display: none;
        }
        @media only screen and (max-width: 1023px){
            .divMenu .divItem {
                width: 46%;
                margin: 2%;
                display: block;
                text-decoration: none;
                color: #000;
                position: relative;
            }
        }
        @media only screen and (max-width: 740px){
            .filter-toggle-sort{
                display: none;
            }
            .filter-icon{
                display: block;
            }
            .filter-content .filter-content-text{
                padding-left: 0px;
            }
        }