/* CSS Document */
#container{
	margin: 0 auto;
	width: 500px;
	height: 100%;
	background: rgba(81,226,189,0.93);
}
.tab{
	text-decoration:none;
	background:#B2E4DB;
	padding:10px;
	display:inline-block;
	width: 150px;
    text-align: center;
	margin-left: 10px;
	font-weight: bold;
}

a.tab:link{
	color: black;
}

a.tab:hover{
	color: white;
	background:#5369E5;
}

#divdangnhap{
	width: 500px;
	height: auto;
	display: none;
}

#divdangki{
	width: 500px;
	height: auto;
}

h2{
	text-align: center;
	text-transform: uppercase;
}

hr{
	width: 80%;
}

.form1{
	font-size: 20px;
}

.submit1 {
	text-align: center;
}

.submit1 input {
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	background-color: cornsilk;
}

.tab1{
	text-decoration: none;
	color: firebrick;
}

#pthongbao{
	color: red;
	text-align: center;
	margin: 10px;
	display: none;
	font-size: 20px;
}