/* Tab links */
.tabs{
    display:flex;
}

.tablinks{
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding:1rem;
    font-size: 13px;
    text-transform: uppercase;
    font-weight:600;
    transition:0.2s ease;
}

.tablinks:hover{
    background:blue;
    color:#fff;
}

/* tab content */
.tabcontent{
    display:none;
}

/* Text */
.tabcontent p{
    color:#333;
    font-size:16px;
}

/* tab content active */
.tabcontent.active {
    display: block;
  }
